<footer class="site-footer">
  <img
    class="logo"
    src="/assets/img/ci-logo-white-ii.png"
    width="120"
    height="75"
    alt="CI Logo Version 2">
  <br>
  <p>© 2023 CSUCI. All rights reserved.</p>
</footer>