<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <nav class="navbar navbar-expand-lg bg-primary navbar-light py-3 fixed-top" style="background-color: #e3f2fd;">
        <div class="container">
          <a href="#" class="navbar-brand">
            <img
              src="/assets/img/csuci-logo.png"
              alt="CSUCI Logo"
              width="70"
              height="40">
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/games_list/" class="nav-link">Games</a>
              </li>
              <li class="nav-item">
                <a href="/blog/" class="nav-link">Blog</a>
              </li>
              <li class="nav-item">
                <a href="#about" class="nav-link">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>