<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top">
        <div class="container">
          <a href="/" class="navbar-brand">
            <img
              src="/assets/img/ci-logo-white.png"
              alt="CSUCI Logo"
              width="150"
              height="25">
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/games/" class="nav-link">Games</a>
              </li>
              <li class="nav-item">
                <a href="/reviews/" class="nav-link">Reviews</a>
              </li>
              <li class="nav-item">
                <a href="/blog/" class="nav-link">Blog</a>
              </li>
              <li class="nav-item">
                <a href="/about/" class="nav-link">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>