---
title: Blog
layout: 'base.liquid'
---

  <div class="section container">
    <h1 class="section-title">Recent articles</h1>
    
      <ul role="list" class="articles__list flow">

  {%- for post in collections.post -%}
    <li>
      <article class="snippet">
        <img src="{{ post.data.image }}" alt="test image" class="snippet image">
      <h3 class="snippet__title">{{ post.data.title }}</h3>
      </article>
    </li>
  {%- endfor -%}

      </ul>
  </div>
</main>