---
layout: base.liquid  
title: Games
data: games
alias: game
---
<section class="landing">
  <h3 class="text-center">- Collections -</h3>
  <div class="container row list">
    <div class="col-md-12">
      <table id="all-games" class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Environment</th>
          </tr>
        </thead>
        {% for game in games %}
          <tbody>
            <tr>
              <td>
                <a href="/games/{{ game.title | slugify }}.html" class="game-link">{{ game.title }}</a>
              </td>
              <td>{{ game.date_submitted }}</td>
              <td>{{ game.environment }}</td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</section>