---
title: CSUCI Online Game Showcase
layout: 'base.liquid'
---
<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">News</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <p>Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
        <a href="./blog.html" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>
    <div>
      <img
        src="/assets/img/landscape-2.jpg"
        alt=""
        class="hero__image">
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Spotlight</h2>
    <p class="text-center">Here is a sample of articles that give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">
      <li>
        <article class="snippet">
          <img
            src="/assets/blog/article-1.jpg"
            alt="This is a test"
            class="snippet__image">
          <h3 class="snippet__title">
            <a href="/blog/first-article/">First Article</a>
          </h3>
          <p class="snippet__meta">by
            <span>Unknown</span>
            on
            <span>Apr 30, 2021</span>
          </p>
          <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
          <a href="/blog/first-article/" class="btn btn--primary">Continue Reading</a>
        </article>
      </li>
      <li>
        <article class="snippet">
          <img
            src="/assets/blog/article-2.jpg"
            alt="This is a test"
            class="snippet__image">
          <h3 class="snippet__title">
            <a href="/blog/msecond-article/">Second Article</a>
          </h3>
          <p class="snippet__meta">by
            <span>Unknown</span>
            on
            <span>May 14, 2021</span>
          </p>
          <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
          <a href="/blog/second-article/" class="btn btn--primary">Continue Reading</a>
        </article>
      </li>
      <li>
        <article class="snippet">
          <img
            src="/assets/blog/article-3.jpg"
            alt="This is a test"
            class="snippet__image">
          <h3 class="snippet__title">
            <a href="/blog/third-article/">Third Article</a>
          </h3>
          <p class="snippet__meta">by
            <span>Unknown</span>
            on
            <span>May 27, 2021</span>
          </p>
          <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
          <a href="/blog/third-article/" class="btn btn--primary">Continue Reading</a>
        </article>
      </li>
      <li>
        <article class="snippet">
          <img
            src="/assets/blog/article-4.jpg"
            alt="This is a test"
            class="snippet__image">
          <h3 class="snippet__title">
            <a href="/blog/fourth-article/">Fourth Article</a>
          </h3>
          <p class="snippet__meta">by
            <span>Unknown</span>
            on
            <span>Jun 14, 2021</span>
          </p>
          <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
          <a href="/blog/fourth-article/" class="btn btn--primary">Continue Reading</a>
        </article>
      </li>
      <li>
        <article class="snippet">
          <img
            src="/assets/blog/article-5.jpg"
            alt="This is a test"
            class="snippet__image">
          <h3 class="snippet__title">
            <a href="/blog/fifth-article/">Fifth Article</a>
          </h3>
          <p class="snippet__meta">by
            <span>Unknown</span>
            on
            <span>Jun 14, 2021</span>
          </p>
          <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p>
          <a href="/blog/fifth-article/" class="btn btn--primary">Continue Reading</a>
        </article>
      </li>
    </ul>
  </div>
</section>